<br/>
<h4>Share On</h4>
<ul class="tag_box">
    <li><a  class="share-button" id="fa-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, '_blank'); return false;"
            title="Share on Twitter" >twitter</a></li>
    <br/>
    <li><a  class="share-button" id="fa-weibo" href="https://service.weibo.com/share/share.php?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}"
            onclick="window.open(this.href, '_blank'); return false;"
            title="Share on Weibo" >weibo</a></li>
    <br/>
    <li><a  class="share-button" id="fa-reddit" href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, '_blank'); return false;"
            title="Share on Reddit" >reddit</a></li>
    <br/>
    <li><a  class="share-button" id="fa-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
            onclick="window.open(this.href, '_blank'); return false;"
            title="Share on LinkedIn" >linkedin</a></li>
</ul>
