.share-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

#fa-twitter {
    color: #ffffff;
    background-color: #55acee;
}

#fa-weibo {
    color: #ffffff;
    background-color: #f63a48;
}

#fa-reddit {
    color: #ffffff;
    background-color: #ff4500;
}

#fa-linkedin {
    color: #ffffff;
    background-color: #007bb5;
}



