
/* ::::: http://nic-nac-project.org/~murj/viki/vim/moon.css ::::: */

body { padding: 1pt; margin-left: 20pt; margin-right: 20pt; font-family: Verdana,Monaco,Sans-Serif; font-size: medium; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
a { color: black; }
a:link { color: rgb(0, 113, 240); }
a:visited { color: rgb(48, 48, 111); }
a:hover { color: rgb(0, 113, 240); }
a.ref:link {  }
a.ref:visited {  }
p { padding: 0pt 15pt 5pt; line-height: 150%; }
big { font-weight: bolder; font-stretch: expanded; }
hr {  }
hr.pagebreak { color: rgb(0, 0, 0); }
h1, h2, h3, h4, h5, h6 { padding-left: 20pt; font-weight: bold; text-align: left; font-family: Verdana,Monaco,Sans-Serif; }
h1 { border-left: 10pt solid rgb(255, 223, 112); border-bottom: 0.1em solid rgb(255, 223, 112); margin-top: 20pt; margin-bottom: 10pt; font-size: x-large; }
h2 { border-left: 10pt solid rgb(255, 223, 112); margin-top: 15pt; margin-bottom: 10pt; font-size: large; }
h3 { border-left: 10pt solid rgb(255, 223, 112); margin-top: 10pt; margin-bottom: 5pt; font-size: medium; }
h4 { border-left: 10pt solid rgb(255, 223, 112); margin-top: 10pt; margin-bottom: 5pt; font-size: small; }
h5 { border-left: 10pt solid rgb(255, 223, 112); margin-top: 10pt; margin-bottom: 5pt; font-size: x-small; }
h6 { border-left: 10pt solid rgb(255, 223, 112); margin-top: 10pt; font-size: 1em; }
em {  }
table { border-style: none solid; border-left: 10pt solid rgb(255, 255, 255); border-right: 10pt solid rgb(255, 255, 255); }
tr {  }
tr.head { font-weight: bold; }
thead {  }
th { border-style: none; font-weight: bold; background-color: rgb(234, 234, 234); color: black; }
td { border-style: none; background-color: rgb(234, 234, 234); color: black; }
caption { font-weight: bold; }
blockquote { margin: 20pt 60pt; }
blockquote.quote { font-family: Serif; }
blockquote.longquote { font-family: Serif; }
blockquote.abstract { font-family: Serif; font-style: italic; }
li { padding: 2pt; margin-right: 20pt; }
p.itempara { border-left: 0pt none; border-right: 0pt none; padding: 0pt; }
ul {  }
ol {  }
dl {  }
dt { margin-left: 10pt; padding-left: 10pt; padding-top: 2pt; padding-bottom: 2pt; font-weight: bold; }
dd { margin-bottom: 10pt; }
pre { 
	background-color:black;
	margin-left: 1em; 
	margin-right: 1em;
	line-height: 1.2em;padding: 0.3em;
	font-size:medium;
	font-weight:bold;
	border: thin dashed white; 
	font-family: Courier New,Courier,Monospace; 
	color:rgb(46, 139, 87);
}
code { 
	font-family: Courier New,Courier,Monospace; 
	margin-left: 0.2em; 
	margin-right: 0.2em;
	font-weight:bold;
	color:rgb(46, 139, 87);
	/*color: rgb(0, 113, 240);*/
}
.code { 
	color: white; 
	background-color: rgb(51, 51, 51); 
	margin-left: 1em; 
	margin-right: 1em;
	line-height: 1.2em;padding: 0.3em;
	font-size:medium;
	border: thin dashed white; 
	font-family: Courier New,Courier,Monospace; 
}
p.htmlslidesnote {  }
ul.htmlslidesnote {  }
li.htmlslidesnote { padding: 0pt; color: rgb(136, 136, 136); }
hr.htmlslidesnote { border: 0pt none ; }
a.navbar:link { color: rgb(127, 96, 127); text-decoration: none; font-size: medium; }
a.navbar:visited { color: rgb(127, 96, 127); text-decoration: none; font-size: medium; }
table.navbar { width: 100%; margin-left: 0pt; margin-right: 0pt; }
td.navbar { width: 33%; text-align: center; }
div.figure { text-align: center; }
p.caption { font-weight: bold; }
div.title {
	color: rgb(0,113,240);
	border-style: solid; border-color: rgb(234, 234, 234); border-width: 1pt 10pt 5pt 1pt; margin: 20pt; padding: 20pt; text-align: left; }
p.title { border: 0pt none ; margin: 0pt; font-size: x-large; font-weight: bold; }
p.author { border: 0pt none ; margin: 0pt; font-size: large; font-weight: bold; 
text-align:right;
}
p.authornote { border: 0pt none ; margin: 0pt; font-size: medium; font-weight: bold; }
p.date { border: 0pt none ; margin: 0pt; font-size: medium; font-weight: bold; }
hr.title { border: 1pt solid rgb(241, 240, 143); padding: 1pt; color: rgb(241, 240, 143); background-color: rgb(228, 248, 252); margin-left: 45%; margin-right: 45%; }
div.toc { margin-left: 10%; }
p.toc {  }
ul.toc { list-style-type: none; }
li.toc { padding: 0pt; list-style-type: none; }
div.lot { margin-left: 10%; }
p.lot {  }
ul.lot { list-style-type: none; }
li.lot { padding: 0pt; list-style-type: none; }
div.lof { margin-left: 10%; }
p.lof {  }
ul.lof { list-style-type: none; }
li.lof { padding: 0pt; list-style-type: none; }
hr.list { border: 1pt solid rgb(241, 240, 143); padding: 1pt; color: rgb(241, 240, 143); background-color: rgb(228, 248, 252); margin-left: 45%; margin-right: 45%; }
#Contents { margin: 0px; padding: 0px; position: absolute; top: 50px; left: 0px; visibility: hidden; }
#ContentsBlock { padding: 0px; position: absolute; top: 30px; left: 0px; }
div.minitoc { border-top: 1pt solid rgb(224, 224, 224); border-right: 1pt solid rgb(224, 224, 224); border-bottom: 1pt solid rgb(224, 224, 224); background: rgb(241, 241, 241) none repeat; max-height: 500px; }
h1.minitoc { border: 0pt none ; margin: 0pt; padding: 5pt; }
ul.minitoc {  }
li.minitoc {  }
a.footnote:link { font-size: small; text-decoration: none; vertical-align: top; }
a.footnote:visited { font-size: small; text-decoration: none; vertical-align: top; }
p.footnotes { border-top: 1pt solid rgb(255, 223, 112); padding-top: 10pt; margin-top: 40pt; margin-right: 60%; font-size: medium; font-weight: bold; }
ol.footnotes {  }
li.footnotes { font-size: medium; }
.sdfootnoteanc { font-size: small; vertical-align: top; color: rgb(48, 48, 111); }
.sdfootnotesym { background-color: rgb(228, 248, 252); font-size: small; vertical-align: top; color: rgb(48, 48, 111); }
p.sdfootnote { font-size: small; margin-left: 5%; margin-right: 5%; }
table.bib { width: 100%; }
td.bibLeft { background-color: rgb(255, 255, 255); }
td.bib { background-color: rgb(255, 255, 255); }
td.bibRight { background-color: rgb(255, 255, 255); }
h1.bib {  }
p.bib { margin-left: 20pt; text-indent: -20pt; }
h2.index {  }
p.indextoc {  }
dl.index {  }
dt.index {  }
dd.index {  }
em.marker { color: rgb(145, 0, 0); background-color: rgb(255, 255, 0); }
span.marker { position: absolute; right: 10pt; width: 60pt; }
div.header { background-color: rgb(234, 234, 234); }
div.footer {  text-align: right; 	border-top: 0.6em solid rgb(255, 223, 112);}
table.header, table.footer { width: 100%; }
thead.header, thead.footer {  }
tr.header, tr.footer {  }
th.header, th.footer {  }
td.header, td.footer {  }
p.header, p.footer { padding: 5pt 15pt; font-size: small; }
